<h1>Stock Report</h1>
<table>
  <tr>
    <td colspan="2" class="tab-head">&nbsp;</td>
    <td class="tab-head" align="center">Units</td>
    <td class="tab-head" align="center">Mark-up</td>
    <td class="tab-head" align="center">Margin</td>
  </tr>
<% genres = Artist.genre; genres.each do | genre | %>
  <% genre_stocks = Stock.by_genre( genre ); genre_analysis = Stock.analytics( genre_stocks ) %>
  <tr>
    <td colspan="2" class="indent1"><%= genre.capitalize %></td>
  <% if genre_analysis %>
    <td align="right" class="level1"><%= genre_analysis[:level] %></td>
    <td align="right" class="level1">£<%= "%0.2f" % [genre_analysis[:value]] %></td>
    <td align="right" class="level1"><%= "%0.2f%" % [genre_analysis[:margin]] %></td>
  <% else %>
    <td colspan="3">&nbsp;</td>
  <% end %>
  </tr>
  <% artists = Artist.by_genre(genre); artists.each do | artist | %>
    <% artist_stocks = Stock.by_artist(artist.id); artist_analysis = Stock.analytics(artist_stocks); formats = Stock.formats_by_artist(artist.id) %>
  <tr>
    <td colspan="2" class="indent2"><b><%= artist.name %></b></td>
    <% if formats.count > 0 %>
    <td align="right"><b><%= artist_analysis[:level] %></b></td>
    <td align="right"><b>£<%= "%0.2f" % [artist_analysis[:value]] %></b></td>
    <td align="right"><b><%= "%0.2f%" % [artist_analysis[:margin]] %></b></td>
  </tr>
      <% formats.each do | format | %>
        <% format_stocks = Stock.by_artist(artist.id, format); format_stocks.each do | stock | %>
          <% album = Album.by_id(stock.album_id); album_analysis = Stock.analytics([stock]) %>
  <tr>
    <td class="indent3"><%= format %></td>
    <td><%= album.name %></td>
    <td align="right"><%= album_analysis[:level] %></td>
    <td align="right">£<%= "%0.2f" % [album_analysis[:value]] %></td>
    <td align="right"><%= "%0.2f%" % [album_analysis[:margin]] %></td>
  </tr>
        <% end %>
      <% end %>
    <% else %>
  <tr>
    <td colspan="5" class="indent3">No stock</td>
  </tr>
    <% end %>
  <% end %>
<% end %>
</table>
