<h1>Stock Report</h1>
<table>
<% genres = Artist.genre; genres.each do | genre | %>
  <tr><td colspan="5" class="indent1"><%= genre.capitalize %></td></tr>
  <% artists = Artist.by_genre(genre); artists.each do | artist | %>
  <tr><td colspan="5" class="indent2"><b><%= artist.name %></b></td></tr>
    <% formats = Stock.formats_by_artist(artist.id) %>
    <% if formats.count == 0 %>
  <tr><td colspan="5" class="indent3">No stock</td></tr>
    <% else %>
      <% formats.each do | format | %>
        <% stocks = Stock.by_artist(artist.id, format); stocks.each do | stock | %>
          <% album = Album.by_id(stock.album_id) %>
  <tr>
    <td class="indent3"><%= format %></td>
    <td><%= album.name %></td>
    <td align="right"><%= stock.stock_level.to_s %></td>
    <td align="right">£<%= "%0.2f" % [stock.sell_price] %></td>
    <td align="right"><%= "#{(((stock.sell_price - stock.buy_price)*100)/stock.sell_price).round}%" %></td>
  </tr>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</table>
