<table>
  <tr>
    <td><label>Artist:</label></td>
    <td><%= @stock.artist.name %></td>
  </tr>
  <tr>
    <td><label>Album:</label></td>
    <td><%= @stock.album.name %></td>
  </tr>
  <tr>
    <td><label>Format:</label></td>
    <td><%= @stock.stock.format %></td>
  </tr>
  <tr>
    <td><label>Stock Level:</label></td>
    <td><%= @stock.stock.stock_level.to_s %></td>
  </tr>
  <tr>
    <td><label>Stock Theshold:</td>
    <td><%= @stock.stock.threshold.to_s %></td>
  </tr>
  <tr>
    <td><label>Buy For (£):</td>
    <td><%= "%0.2f" % [@stock.stock.buy_price] %></td>
  </tr>
  <tr>
    <td><label>Sell For (£):</td>
    <td><%= "%0.2f" % [@stock.stock.sell_price] %></td>
  </tr>
</table>